<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" 
                                                            aria-haspopup="true" aria-expanded="false">
  <i class="far fa-bell"></i>
  <span  id="notification-counter"><%= counter %></span>
</a>